* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html,
body {
    height: 100%;
}

body {
    background-color: #1a1a1a;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    outline: none;
    background-color: #fafafa;
    font-size: 25px;
    color: #1a1a1a;
    padding: 20px 30px;
    border-radius: 20px;
}
