<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <style>
            *{ margin:0; padding: 0; font-family: sans-serif; } .MailBlock{
            width: 400px; height: 400px; display: flex; justify-content: center;
            align-items: center; background-color: #1a1a1a; padding: 20px;
            border-radius: 20px; margin: 10px; } .MailBlock h1, .MailBlock p{
            color:#fafafa; }
        </style>
    </head>
    <body>

        <div class="MailBlock">
            <h1>Hello {{name}}</h1>
            <p>{{text}}</p>
        </div>
    </body>
</html>